<div class="row justify-content-start mt-3">
  <div class="col col-md-4">  
    <h2>Enter the Guru Gates</h2>

    <div class="card border-primary">
      <div class="card-body">  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <p>
              <%= f.label :email %><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </p>

            <p>
              <%= f.label :password %><br>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </p>

          <% if devise_mapping.rememberable? %>
            <div class="custom-control custom-checkbox">
              <%= f.check_box :remember_me, class: "custom-control-input" %>
              <%= f.label :remember_me, class: "custom-control-label" do %>
              Remember me
              <% end %>
            </div>

              <%= f.submit "Enter", class: "btn btn-primary mt-2" %>

          <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="mt-2">  
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div> 
