<!DOCTYPE html>
<html>
  <head>
    <%= yield :special_title %>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <ul id="nav">
        <li><%= link_to 'TestGuru ', tests_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
      <b>Welcome, <%= current_user.name %>, Guru!</b>
    <% else %>
      <ul id="nav">
        <li><%= link_to 'Registration ', users_new_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      </ul>
    <% end %>

    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
