<!DOCTYPE html>
<html>
  <head>
    <%= yield :special_title %>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <% if user_signed_in? %>
      <ul id="nav">
        <li><%= link_to 'TestGuru ', tests_path %></li>
        <li><%= link_to current_user.email %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul id="nav">
        <li><%= link_to 'Registration ', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      </ul>
    <% end %>

    <p><%= render 'shared/flash' %></p>
    <%= yield %>
    <p><%= render 'shared/footer' %></p>
    <%= console %>
  </body>
</html>
